includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	excludePaths:
		- /tests/*
	ignoreErrors:
rules:
